.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 576px;
  height: auto;
  border-radius: 20px !important;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
}

.calendarContainer {
  margin: auto;
  margin-top: 1%;
  height: 70%;
  width: 70%;
  padding-bottom: 2%;
}

.eventBubble {
  width: 100%;
  height: 22px;
  overflow: hidden;
  background-color: #c4f1de;
  border-radius: 1em;
  padding: 5%;
  padding-right: 5%;
  margin-top: -5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  font-family: Sans-serif;
  font-weight: normal;
}

.eventBubbleContent {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: -8%;
  width: 100%;
}
