.inputLine {
    border-radius: 30px;
    border: 5 solid black;
}
.comp {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: auto;
    margin-right: auto;
}

.centralize {
    margin-left: auto;
    margin-right: auto;
}