.inputLine {
  border-radius: 10px;
  border: 5 solid black;
  margin-bottom: 20px;
  border-color: black;
}

.comp {
  background-color: white;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 50%;
  padding: 56px;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-left: auto;
  margin-right: auto;
}