.tags {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  width: 300px;
  justify-content: left;
}

.eventPreferences {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  width: 300px;
  justify-content: left;
}

.toolbarContainer {
    align-items: center;
    margin-right: 20px;
}