.tags {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  width: 300px;
  justify-content: left;
}

.eventPreferences {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  width: 300px;
  justify-content: left;
}

.customToolbarContainer {
  display: flex;
  justify-content: space-between;
}

.super-app-theme--header {
  background: greenyellow;
}
