.avatar {
  position: absolute;
  margin-right: 20px;
  width: 100px;
  height: 100px;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
}

.userName {
  font-size: 2rem;
}

.mainContainer {
  margin: 0 auto; 
  max-width: 1200px; 
  padding: 0 20px; 
}


.heading {
  font-size: 2rem;
  margin-bottom: 20px;
}


.data-grid-container {
  height: 400px;
  width: 100%;
}


.loading-error {
  font-size: 1.2rem;
  color: red;
  margin-top: 20px;
}


.headingContainer {
  margin-top: 20px;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
}


.yellowBar {
  height: 10px;
  background-color: #ffd700;
  margin-bottom: 20px;
}
